.container {
    background-image: linear-gradient(aquamarine 90%, white);
    height: 120px;
}


body {
    background-image: url("https://pixabay.com/get/57e2d1464d57a414ead9817dce2f3e7c1222dfe05b567249712c73dd.jpg");
    background-repeat:no-repeat;
    background-size: 100% ;
}

#brand {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

#navbar {
    margin: auto;
    float: right;
    padding-top: 30px;
}
