@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.container {
    background-image: linear-gradient(aquamarine 90%, white);
    height: 120px;
}


body {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/22/store-1245758_960_720.jpg");
    background-repeat:no-repeat;
    background-size: 1920px 1080px;
}

#brand {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

#navbar {
    margin: auto;
    float: right;
    padding-top: 30px;
}
